@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700&display=swap');

/*---------------------------------------------body*/

body 
{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    color: #040404;
    font-family: 'Raleway', Arial, sans-serif;
}

div a, nav a{
    text-decoration: none;
}

div h3{
    font-size: 150%;
}

.container-fluid{
    padding: 0;
    overflow-x: hidden !important;
}

.inline-block{
    display: inline-block;
}

/*--------------------------------------------navigation bar*/

.navbar-padding{
    padding-top: 25px;
    padding-right: 15px;
}

.navbar-logo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', sans-serif;
    color: #040404;
    letter-spacing: 3px;
    font-size: 75%;
    padding-left: 15px;
    line-height: 0.75;
    
}

.toggler-text{
    text-align: right;
}

.menu-item{
    color: #040404;
    letter-spacing: 3px;
    font-size: 75%;
    margin-right: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    line-height: 0.75;
    
}

.menu-item:hover{
    border-bottom: 2px solid #040404;
}

.active {
   border-bottom: 2px solid #040404;
}

/*--------------------------------------------------end of navbar*/

/*--------------------------------------------------home page*/

#hero-image-row{
    background: url('../images/hero-image-newspaper-2.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
/*--------------------credit to csstricks.com for aligment of text overlay customised to suit this project---------*/
.hero-image-text{
   background-color: rgba(240, 240, 240, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   color: #040404;
   text-align: center;
   padding-left: 25px;
   padding-right: 25px;
   
}

h1{
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  font-family: 'Playfair Display';
  letter-spacing: 3px;
  padding-top: 15px;
  padding-bottom: 20px;

}

h2, h3{
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Playfair Display';
  letter-spacing: 3px;
  padding-bottom: 15px;
  text-align: center;

}

#about-row-background{
    background: url('../images/birds-on-a-wire.jpg');
    min-height: 450px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.about-row-text{
   background-color: rgba(240, 240, 240, 0.8);
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   color: #040404;
   padding-left: 25px;
   padding-right: 25px;
}

.about-line{
    text-align: center;
}

.profile-row{
    height: auto;
    background-color: rgb(239, 239, 239)
}

.biography-text{
    margin: 25px;

}

.bio-buttons-position{
    text-align: center;
    margin-top: 50px;
}

.bio-buttons{
    margin: 10px;
}



/*-----------------------------------end of home page-----------*/



/*-------------------------------------library page---------------*/

.carousel-position{
    margin-top: 125px;
    margin-bottom: 75px;
}


.row-spacing{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
    width: auto;
    margin-bottom: 15px;
}

/*---------------------------------------end of library page-----------*/

/*------------------------------------------contact page---------------*/

#contact-page-background{
    background: url('../images/birds-on-a-wire.jpg');
    height: 925px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.form-position{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.form-background{
    background-color: rgba(240, 240, 240, 0.7)
}

/*----------------------------------end of contact page-----------*/

/*---------------------------------------footer---------------*/
/*---------------credit to ci walkthrough for footer styling---------------*/
footer{
    background-color: rgba(32, 28, 28, 0.315);
    min-height: 100px;
    text-align: center;
}

.footer-row{
    margin-right: 0;
}

.footer-contact-link{
    color: #040404;
    padding-top: 25px;
    font-size: 15px;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    
}

.footer-contact-link:hover{
    color: white;

}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    color:#040404;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover{
    background-color: white;
}

#footer-spacing{
    padding: 25px;
}
/*-------------------------------------end of footer--------------*/


@media(max-width: 365px){
.navbar-logo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', sans-serif;
    color: #040404;
    letter-spacing: 3px;
    font-size: 50%;
    font-weight: 600;
    padding-left: 15px;
    line-height: 0.75;
    
}

}