@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700&display=swap');

/*-------------body--------------*/
*{
    border:0;
    margin:0;
    padding:0;
    
}
body{
    color: #040404;
    font-family: 'Raleway', Arial, sans-serif;
}

h2{
    color: #040404;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
    text-transform: uppercase;
}

div a{
    text-decoration: none;
}

/*---------------navigation bar---------------*/

#branding{
    font-size: 100%;
    padding-top: 35px;
    padding-left: 35px;
}

.nav-links-container{
    float: right;
    padding-top: 50px;
    padding-right: 70px;
}

.menu-item{
    color: inherit;
    letter-spacing: 3px;
    font-size: 100%;
    margin-right: 20px;
    padding-bottom: 15px;
    
}

.menu-item:hover{
    border-bottom: 2px solid #040404;
}

.active {
   border-bottom: 2px solid #040404;
}

/*---------------home page---------------*/

.hero-image{
    height: 700px;
    width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: white;
    font-size: 100%;
    font-family: 'Raleway';
    letter-spacing: 3px;
    text-align: center;
}

#text-overlay{
   
    width: 300px;
    height: 350px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 350px;
    right: 350px;
    position: fixed;
    
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
