@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700&display=swap');

/*body*/
*{
    border:0;
    margin:0;
    padding:0;
    
}
body{
    color: #040404;
    font-family: Raleway, Arial, sans-serif;
}

h2{
    color: #040404;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
    text-transform: uppercase;
}

div a{
    text-decoration: none;
}

/*navigation bar*/

#branding{
    font-size: 250%;
    padding-top: 45px;
    padding-left: 40px;
}

.nav-links-container{
    float: right;
    padding-top: 45px;
    padding-right: 70px;
}

#nav a{
    color: #040404;
    letter-spacing: 3px;
    font-size: 175%;
    margin-right: 20px;
}

